<h1>Tasks</h1>
<%= link_to("New Task", new_task_path) %>
<% for task in @tasks %>
  <h2>Title: <%= task.title %></h2>
  <p>Content: <%= task.content %></p>
  <% if task.completed %>
    <p>Completed</p>
  <% else %>
    <p>Uncompleted</p>
  <% end %>
<% end %>